.contact{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
.contact-block{
    margin-top: 90px;
}
.data-contact{
    border: none;
    padding: 0 0;
    width: 100%;

}
.contact-data{
    display: flex;
    gap: 25px;
    color: #BDBDBD;
    max-width: 1120px;
}
.contact-data__field{
    padding: 19px 0;
    margin-bottom: 16px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    border: none;
    border-bottom: 1px solid#BDBDBD;
    width: 100%;

}
textarea{
    padding-bottom: 200px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    border: none;
    padding-top: 19px;
    border-bottom: 1px solid#BDBDBD;
    width: 100%;
}
.contact-button{
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    color: white;
    background: #EC7979;
    border: #EC7979;
    margin-top: 50px;
    max-width: 370px;
    padding: 20px;
}
@media (max-width: 1024px){
    .contact-data{
        flex-direction: column;
        max-width: 985px;
    }
    .contact-data__field{
        min-width: 288px;
    }
}