.customers{
    width: 1170px;
    margin: 0 15px;
    text-align: center;
}
.title{
    text-transform: uppercase;
    font-size: 36px;
    padding: 57px;
    margin-top: 50px;
    font-weight: 400;
    font-family: Raleway;
}
.subtitle{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;

}
.comments{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 83px;
    padding-left: 0;
    position: relative;
    margin-bottom: 0;




}
.comment{
    width: 370px;
    background-color: #E2E2E2;
    padding: 38px 0;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #86878B;
    line-height: 21px;
    border-radius: 5%;
    position: relative;
    margin: 0 0;

}

.comment::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #E2E2E2;
    top:180px;
    right: 290px;


}
.managers{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 46px;
    padding: 0 0;
    max-width: 1170px;
}

.manager{
    width: 370px;
    display: flex;
    list-style: none;
    padding: 0 0;

}

.manager__name{
    text-align: start;

}
.manager__img{
    margin-right: 30px;
}
.manager__name--1{
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
    margin: 10px 0;

}
.manager__name--2{
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-top: 15px;


}