.container{
    width: 1440px;
    height: 41px;
}
.up{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    list-style: none;
    display: flex;
    background-color: #A6672B;
    color: #FFFEF2;
    justify-content: center;
    margin: 0 auto;
}
.up1{

    width: 1440px;
    background-color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    color:#FFFEF2;
    justify-content: center;
    margin:0 auto;
    padding: 15px 0 15px 0;
}
.cream{
    margin-top: 0;
}
