body {
    padding: 20px;
}

.title {
    font-family: "Arial", sans-serif;
    text-align: center;
}

.button {
    display: block;
    min-width: 300px;
    margin: 20px auto 0;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-size: 37px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background-color: #FDA085;
}

.button:hover {
    background-color: #F5576C;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 10px solid darkorange;
    transition-duration: 2s;
}